.elementor.elementor-98 > div {
    padding: 0;
}

main {
    margin: 0;
}

header.wp-block-template-part > div > div {
    width: 100%;
}

body {
    background-color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* NEWS  */
.wp-block-post-excerpt__more-link {
    background-color: transparent;
    font-family: "Helvetica Neue", sans-serif;
    border: 1px solid #212121;
    padding: 0.5rem 1rem;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .wp-block-post-excerpt__more-link:hover {
    background-color: #111111;
    color: white;
  }
  .news-image img {
    height: 400px !important;
    max-height: 100% !important;
    object-fit: cover !important;
    width: 100% !important;
    overflow: hidden;
    
  }

  .news-description-bottom .wp-block-post-excerpt__excerpt {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
  }
  
  .gtranslate_wrapper .gt_selector{
    text-transform: uppercase;
    cursor: pointer;
  }
  .gtranslate_wrapper .gt_selector:focus-visible{
    outline: none;
  }
#page-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #F5F5F5;
}

.three-balls {
    margin: 0 auto;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}

.three-balls .ball {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.three-balls .ball1 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.three-balls .ball2 {
    -webkit-animation-delay: -.08s;
    animation-delay: -.08s;
}

@keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }

    16.66% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    33.33% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    50% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    66.66% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    83.33% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}

@-webkit-keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }

    16.66% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    33.33% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    50% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    66.66% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    83.33% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}

.content-container .form-section input[type="text"],
.content-container .form-section input[type="email"],
.content-container .form-section select {
    height: 45px;
}

.content-container .contact-form-section select::placeholder,
.content-container .form-section textarea::placeholder,
.content-container .form-section input::placeholder {
    color: #4d4d4d;
    opacity: 1;
}

.content-container .form-section input[type="text"],
.content-container .form-section input[type="email"],
.content-container .form-section input[type="number"],
.content-container .form-section input[type="url"],
.content-container .form-section select,
.content-container .form-section textarea {
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 1px solid #4d4d4d;
    min-height: 38px;
    max-width: none;
    padding: 0.5rem 0.75rem;
}

.content-container .contact-form-section select {
    width: 100%;
}

.content-container .form-section .country-list-dropdown {
    padding-left: 50px !important;
}

.content-container .form-section input::-webkit-outer-spin-button,
.content-container .form-section input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-container .form-section select {
    min-width: -webkit-fill-available;
}

.content-container .form-section input[type="checkbox"] {
    max-width: 20px;
    height: 20px;
    width: 100%;
    margin-top: 5px;
}

.wpcf7-list-item {
    max-width: 20px;
    height: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 1em;
}

.codedropz-upload-container {
    min-height: 16em;
    display: flex;
    align-items: center;

}

.codedropz-upload-container .codedropz-upload-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    background-color: #F4F6F6;
}


.sib-form {
    padding:0px !important;
}
.sib-input .sib-form-block {
    padding:0px !important;
}
#sib-container {
    background: transparent !important;
    padding: 0px !important;
}
.sib-form-block{
    padding: 0px !important;
}
.entry__field input {
    background: #F4F6F6 !important;
    border: 1px solid #4d4d4d !important;
    max-width: none !important;
    font-size: 16px !important;
    width: 100% !important;
    outline: none !important;
}
.sib-form .clickable__icon {
    height: 1rem !important;
    width: 1rem !important;
}
#sib-container input:-ms-input-placeholder {
    text-align: left;
    color: #000000;
}

#sib-container input::placeholder {
    text-align: left;
    color: #c0ccda;
}

#sib-container textarea::placeholder {
    text-align: left;
    color: #c0ccda;
}


gmpx-store-locator {
    width: 100%;
    height: 100%;
  
    /* These parameters customize the appearance of Locator Plus. See the documentation at
       https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md
       for more information. */
    --gmpx-color-surface: #fff;
    --gmpx-color-on-surface: #212121;
    --gmpx-color-on-surface-variant: #757575;
    --gmpx-color-primary: #757575;
    --gmpx-color-outline: #e0e0e0;
    --gmpx-fixed-panel-width-row-layout: 28.5em;
    --gmpx-fixed-panel-height-column-layout: 65%;
    --gmpx-font-family-base: "Roboto", sans-serif;
    --gmpx-font-family-headings: "Roboto", sans-serif;
    --gmpx-font-size-base: 0.875rem;
    --gmpx-hours-color-open: #188038;
    --gmpx-hours-color-closed: #d50000;
    --gmpx-rating-color: #ffb300;
    --gmpx-rating-color-empty: #e0e0e0;
  }