.elementor.elementor-98 > div {
    padding: 0;
}

main {
    margin: 0;
}

header.wp-block-template-part > div > div {
    width: 100%;
}

body {
    background-color: #fff;
}


.name {
    text-align: left !important;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* NEWS  */
.wp-block-post-excerpt__more-link {
    background-color: transparent;
    font-family: "Helvetica Neue", sans-serif;
    border: 1px solid #212121;
    padding: 0.5rem 1rem;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .wp-block-post-excerpt__more-link:hover {
    background-color: #111111;
    color: white;
  }

  .news-description-bottom .wp-block-post-excerpt__excerpt {
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
  }
  
  .gtranslate_wrapper .gt_selector{
    text-transform: uppercase;
    cursor: pointer;
  }
  .gtranslate_wrapper .gt_selector:focus-visible{
    outline: none;
  }
  .gtranslate-option-class {
    background-color: #F4F6F6;
    outline: none;
    border: none;
    color: #212121;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .grecaptcha-badge {
    visibility: hidden;
  }

#page-loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #F5F5F5;
}

.three-balls {
    margin: 0 auto;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}

.three-balls .ball {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
    animation: bouncedelay 2.0s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.three-balls .ball1 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.three-balls .ball2 {
    -webkit-animation-delay: -.08s;
    animation-delay: -.08s;
}

@keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }

    16.66% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    33.33% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    50% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    66.66% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    83.33% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}

@-webkit-keyframes bouncedelay {
    0% {
        bottom: 0;
        background-color: #03A9F4;
    }

    16.66% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    33.33% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    50% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    66.66% {
        bottom: 0px;
        background-color: #03A9F4;
    }

    83.33% {
        bottom: 40px;
        background-color: #03A9F4;
    }

    100% {
        bottom: 0;
        background-color: #03A9F4;
    }
}

.content-container .form-section input[type="text"],
.content-container .form-section input[type="email"],
.content-container .form-section select {
    height: 45px;
}

.content-container .contact-form-section select::placeholder,
.content-container .form-section textarea::placeholder,
.content-container .form-section input::placeholder {
    color: #4d4d4d;
    opacity: 1;
}

.content-container .form-section input[type="text"],
.content-container .form-section input[type="email"],
.content-container .form-section input[type="number"],
.content-container .form-section input[type="url"],
.content-container .form-section select,
.content-container .form-section textarea {
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 1px solid #4d4d4d;
    min-height: 38px;
    max-width: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
}

.content-container .contact-form-section select {
    width: 100%;
}

.content-container .form-section .country-list-dropdown {
    padding-left: 50px !important;
}

.content-container .form-section input::-webkit-outer-spin-button,
.content-container .form-section input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-container .form-section select {
    min-width: -webkit-fill-available;
}

.content-container .form-section input[type="checkbox"] {
    max-width: 20px;
    height: 20px;
    width: 100%;
    margin-top: 5px;
}

.wpcf7-list-item {
    height: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 1em;
}

.codedropz-upload-container {
    min-height: 16em;
    display: flex;
    align-items: center;

}

.codedropz-upload-container .codedropz-upload-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer {
    background-color: #F4F6F6;
}


.footer .sib-form {
    padding:0px !important;
}
.footer .sib-input .sib-form-block {
    padding:0px !important;
}
.footer #sib-container {
    background: transparent !important;
    padding: 0px !important;
}
.footer .sib-form-block{
    padding: 0px !important;
}
.footer .sib-form .entry__field {
    background: rgba(255, 255, 255, 0.2);
}

.footer .sib-form .entry__field input {
    border: 1px solid #4d4d4d !important;
    max-width: none !important;
    font-size: 16px !important;
    width: 100% !important;
    outline: none !important;
}
.footer .sib-form .clickable__icon {
    height: 1rem !important;
    width: 1rem !important;
}
.footer #sib-container input:-ms-input-placeholder {
    text-align: left;
    color: #000000;
}

.footer #sib-container input::placeholder {
    text-align: left;
    color: #c0ccda;
}

.footer #sib-container textarea::placeholder {
    text-align: left;
    color: #c0ccda;
}

/* Contact Form */

.content-container .contact-form-section input[type="text"],
.content-container .contact-form-section input[type="email"],
.content-container .contact-form-section select {
    min-height: 45px;
}

.wpcf7-response-output,
.wpcf7-not-valid-tip {
    font-size: 14px;
    font-family: "Helvetica Neue", "sans-serif";
    padding-top: 0.25rem;
}

.wpcf7-response-output {
    color: #dc3232 !important;
    border: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.content-container .contact-form-section textarea::placeholder,
.content-container .contact-form-section input::placeholder {
    color: #4d4d4d;
    opacity: 1;
    font-size: 14px;
    font-family: "Helvetica Neue", "sans-serif";
}

.content-container .contact-form-section input[type="text"],
.content-container .contact-form-section input[type="email"],
.content-container .contact-form-section input[type="number"],
.content-container .contact-form-section textarea {
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 1px solid #4d4d4d;
    min-height: 38px;
    max-width: none;
    letter-spacing: 0.07rem;
    padding: 1rem 1.5rem;
    border-radius: 0px;
    outline: none;
}

.content-container .contact-form-section textarea {
    padding-top: 0.75rem !important;
}

.content-container .contact-form-section .country-list-dropdown {
    padding-left: 50px !important;
}

.content-container .contact-form-section input::-webkit-outer-spin-button,
.content-container .contact-form-section input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-container .contact-form-section select:invalid,
.content-container .contact-form-section select option[value=""] {
    color: #999999;
}

.content-container .contact-form-section input[type="checkbox"] {
    max-width: 14px;
    height: 14px;
}

/* Request Catalog */

.content-container .request-catalog-form input[type="text"],
.content-container .request-catalog-form input[type="email"],
.content-container .request-catalog-form select {
    min-height: 45px;
}

.wpcf7-response-output,
.wpcf7-not-valid-tip {
    font-size: 14px;
    font-family: "Helvetica Neue", "sans-serif";
    padding-top: 0.25rem;
}

.wpcf7-response-output {
    color: #dc3232 !important;
    border: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.wpcf7-list-item-label,
.content-container .request-catalog-form input[type="text"],
.content-container .request-catalog-form textarea::placeholder,
.content-container .request-catalog-form input::placeholder {
    color: #4d4d4d !important;
    opacity: 1;
    font-size: 14px !important;
    font-family: "Helvetica Neue", "sans-serif" !important;
}

.content-container .request-catalog-form input[type="text"],
.content-container .request-catalog-form input[type="email"],
.content-container .request-catalog-form input[type="number"],
.content-container .request-catalog-form textarea {
    font-size: 16px;
    width: 100%;
    background: transparent;
    border: 1px solid #4d4d4d;
    color: #4d4d4d !important;
    min-height: 38px;
    max-width: none;
    letter-spacing: 0.07rem;
    padding: 1rem 1.5rem !important;
    border-radius: 0px;
}

.content-container .request-catalog-form textarea {
    padding-top: 0.75rem !important;
}

.content-container .request-catalog-form .country-list-dropdown {
    padding-left: 50px !important;
}

.content-container .request-catalog-form input::-webkit-outer-spin-button,
.content-container .request-catalog-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-container .request-catalog-form select:invalid,
.content-container .request-catalog-form select option[value=""] {
    color: #999999;
}

.content-container .request-catalog-form input[type="checkbox"] {
    max-width: 14px;
    height: 14px;
}
.content-container .country-select.inside .flag-dropdown  {
    right: 0 !important;
    left: auto !important;
}
.content-container .country-select.inside .flag-dropdown .selected-flag title{
    color: #4d4d4d !important;
    opacity: 1;
    font-size: 14px !important;
    font-family: "Helvetica Neue", "sans-serif" !important;
}
 /* checkbox request catalog */
 .wpcf7-list-item {
    display: flex;
    align-items: baseline;
    gap: 12px;
 }
 .country-select .country-list {
    right: 0;
    left: auto;
 }