@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-[#10A1CF] tracking-widest transition-all duration-300 text-white hover:bg-[#0D82A6] active:bg-[#09617B] outline-none;
}
.btn-ghost {
    @apply  py-3 md:py-4 tracking-widest transition-all duration-300 px-3 md:px-6 bg-transparent text-[#4D4D4D] border-[#4D4D4D] hover:bg-[#ECF0F1] active:bg-[#CAD3D6] border outline-none;
}
.btn-ghost-dark {
    @apply  py-3 md:py-4 tracking-widest transition-all duration-300 px-3 md:px-6 bg-[#4D4D4D] border-[#4D4D4D] text-white hover:bg-[#334146] active:bg-[#0D1010] border outline-none;
}
.arrow-btn{
    @apply transition-all duration-300 absolute top-1/2 -translate-y-1/2 z-10 py-10 backdrop-blur-sm bg-slate-50/50 p-3 hover:bg-slate-50/80
}
.half-screen {
    @apply h-[calc(50vh-2.5rem)]
}
.full-screen {
    @apply h-[calc(100vh-5rem)]
}
.sm-full-screen {
    @apply sm:h-[calc(100vh-5rem)] min-h-fit
}
p {
    @apply text-[#4D4D4D]
}

h1 {
    @apply md:leading-[4.5rem] leading-[3rem]
}

h2 {
    @apply md:leading-[3rem] leading-[2.25rem]
}
h3 {
    @apply leading-6
}