@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-[#10A1CF] text-white hover:bg-[#0D82A6] active:bg-[#09617B] outline-none;
}
.btn-ghost {
    @apply py-3 px-5 bg-transparent text-[#4D4D4D] border-[#4D4D4D] hover:bg-[#ECF0F1] active:bg-[#CAD3D6] border outline-none;
}
.btn-ghost-dark {
    @apply py-3 px-5 bg-[#4D4D4D] border-[#4D4D4D] text-white hover:bg-[#334146] active:bg-[#0D1010] border outline-none;
}

.half-screen {
    @apply h-[calc(50vh-2.5rem)]
}
.full-screen {
    @apply h-[calc(100vh-5rem)]
}
